/* Header */
.custom-navbar {
    background-color: #fc9e3a;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

.card{
  box-shadow: var(--joy-shadow-lg);
  margin-bottom: 2vh;
}

#badge-color{
    background-color:#d6e012 !important;
    color:#fffbf4;

}

/* Truncate text in product title */
.card-title {
  white-space: nowrap;         /* Prevent line breaks */
  overflow: hidden;           /* Hide overflow text */
  text-overflow: ellipsis;    /* Add ellipsis (...) */
}

.custom-spinner{
    color:#6153e0;
}

#carousel-caption {
    color: white;

  }

.carousel{
    padding-top:2%;
    padding-bottom: 4%;
}
  