/* Header */
.custom-navbar {
  background-image: linear-gradient(to top, #fc9e3a, #f15b29); /* Gradient from one color to another */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* External shadow */
}

.card{
  box-shadow: var(--joy-shadow-lg);
  margin-bottom: 2vh;
}

#badge-color{
    background-color:#d6e012 !important;
    color:#fffbf4;

}

/* Truncate text in product title */
.card-title {
  white-space: nowrap;         /* Prevent line breaks */
  overflow: hidden;           /* Hide overflow text */
  text-overflow: ellipsis;    /* Add ellipsis (...) */
}

.custom-spinner{
    color:#6153e0;
}

#carousel-caption {
    color: white;

  }

  footer {
    background: linear-gradient(135deg, #ff7f50, #6a5acd);
    color: #f8f9fa;
  }
  
  footer a:hover {
    color: #ff7f50; /* Example hover color */
    text-decoration: underline;
  }
  
  footer .social-icons a {
    margin: 0 10px;
  }

  #menu-links-divider{
      width: 40%;
      margin: auto;
      height: 2px;
      background: linear-gradient(135deg, #f07f63, #f8a668);
  }

